<!DOCTYPE html>
<html data-ng-app='ngQuickDateDemo'>
  <head>
    <title>ngQuickDate Demo</title>
    <link rel="stylesheet" type="text/css" href="dist/ng-quick-date-plus-default-theme.css" media="all" />
    <style type="text/css">
      form.ng-dirty .ng-invalid .quickdate-button {
        border: solid 1px red;
      }
    </style>
  </head>
  <body>
    <div ng-controller='DemoCtrl'>
      <form name='date_form' novalidate>
        <p>
          <label>My Date</label>
          <quick-datepicker name='myDate' ng-model='myDate' required></quick-datepicker>
        </p>
        <p>
          <label>Some other field</label>
          <input type='text' name='otherField' ng-model='otherField' required />
        </p>
      </form>
      <br/>
      <br/>
      <a href='' ng-click='setToToday()'>Set Date to Today</a>
    </div>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <!-- <script type='text/javascript' src='vendor/sugar.js' /> -->
    <!-- <script type='text/javascript' src='vendor/date.js' /> -->
    <!-- <script type='text/javascript' src='bower_components/jquery/jquery.js' /> -->
    <script type="text/javascript" src="dist/ng-quick-date.js"></script>
    <script type='text/javascript'>
      var app = angular.module("ngQuickDateDemo", ["ngQuickDate"]);
      app.config(function(ngQuickDateDefaultsProvider) {
        var getEasterMonday = function(Y) {
          var C = Math.floor(Y/100);
          var N = Y - 19*Math.floor(Y/19);
          var K = Math.floor((C - 17)/25);
          var I = C - Math.floor(C/4) - Math.floor((C - K)/3) + 19*N + 15;
          I = I - 30*Math.floor((I/30));
          I = I - Math.floor(I/28)*(1 - Math.floor(I/28)*Math.floor(29/(I + 1))*Math.floor((21 - N)/11));
          var J = Y + Math.floor(Y/4) + I + 2 - C + Math.floor(C/4);
          J = J - 7*Math.floor(J/7);
          var L = I - J;
          var M = 3 + Math.floor((L + 40)/44);
          var D = L + 28 - 31*Math.floor(M/4);
          var m = new Date();
          m.setFullYear(Y);
          m.setMonth(M - 1, D + 1);
          return m;
        };

        return ngQuickDateDefaultsProvider.set({
            stdWeek: true,
            dayAbbreviations: ["M", "Tu", "W", "Th", "F", "Sa", "Su"],
            disableTimepicker: true,
            dateFormat: 'd.M.yyyy',
            dateFilter: function(d) {
                var wday = d.getDay();
                var day = d.getDate();
                var month = d.getMonth();
                var easter = getEasterMonday(d.getFullYear());
                var is_holiday = (
                        // Public holidays in Czech Republic
                        wday === 0 || wday === 6
                        || (day === 1 && month === 0)
                        || (day === 1 && month === 4)
                        || (day === 8 && month === 4)
                        || (day === 5 && month === 6)
                        || (day === 6 && month === 6)
                        || (day === 28 && month === 8)
                        || (day === 28 && month === 9)
                        || (day === 17 && month === 10)
                        || (day === 24 && month === 11)
                        || (day === 25 && month === 11)
                        || (day === 26 && month === 11)
                        // Eastern Monday
                        || (day === easter.getDate()
                            && month === easter.getMonth())
                    );
                return !is_holiday;
            }
        });
      });
      app.controller("DemoCtrl", function($scope) {
        $scope.myDate = null
        $scope.setToToday = function() { $scope.myDate = new Date(); }
      });
    </script>
  </body>
</html>
